* {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

body {
    background-color: #06161e;
    height: 100%;
    margin: 0px;
}

/* Header selectors style */

.header {
    background-color: #41c1ba;
    padding: 10px;
    border: 1px solid #000000;
    display: flex;
}

.title_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    color: #06161e;
    text-align: center;
}

.main_logo {
    width: 75px;
    height: 75px;
}

/* End Header selectors style */

/* Footer selectors style */

.footer {
    background-color: #41c1ba;
    padding: 20px;
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
}

.social_container {
    display: flex;
}

.social_logo {
    margin: auto;
}

/* End Footer selectors style */

.input_field {
    text-align: center;
    border: 1px solid #5D6063;
}

.button {
    text-align: center;
    border: 1px solid #5D6063;
    background-color: #41c1ba;
    margin: 20px 20px;
    padding: 20px 20px;
    width: 30%;
    color: #ffffff;
}

.button_text {
    text-decoration: none;
    justify-content: center;
    font-size: 40px;
}

.button_container {
    display: flex;
}

.section {
    padding: 10px;
    text-align: center;
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
}

.screen {
    text-align: center;
    border: 1px solid #5D6063;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    font-size: 60px;
}

.screen_box {
    width: 50%;
}

.label {
    margin: 20px;
    text-align: left;
}

.screen_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.people_container {
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
}

.person_icon {
    width: 50px;
    height: 50px;
}

.update {
    width: 50%;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {

    /* Footer selectors style */

    .sign {
        font-size: 12px;
    }

    .social_container {
        margin: auto, 0px;
    }

    .social_logo {
        width: 25px;
        height: 25px;
    }

    /* End Footer selectors style */

    .button_text {
        font-size: 20px;
    }

    .screen {
        font-size: 60px;
        margin: 10px;
    }

    .section {
        padding: 0px;
        margin: 10px 1px;
    }

    .input_field {
        width: 90%;
        margin: 0px;
    }

    .button {
        margin: 0px;
    }

    .update {
        padding: 20px 20px;
        margin: 10px auto;
    }

    .button_update {
        font-size: 25px;
    }

    .label {
        font-size: 18px;
        margin: 10px;
    }

    .button_container {
        padding: 10px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {


    /* Header selectors style */

    .header {
        margin: 10px auto;
        margin-top: 0px;
        width: 80%;
    }

    .main_logo {
        width: 100px;
        height: 100px;
    }

    /* End Header selectors style */

    /* Footer selectors style */

    .footer {
        margin: 10px auto;
        width: 80%;
        margin-bottom: 0px;
    }

    .sign {
        font-size: 20px;
    }

    .social_logo {
        width: 60px;
        height: 60px;
    }

    /* End Footer selectors style */

    .input_organizer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input_field {
        width: 100%;
    }

    .section {
        margin: 10px auto;
        width: 80%;
    }

    .button_text {
        font-size: 30px;
    }

    .label {
        font-size: 16px;
    }

    .button {
        margin: 10px auto;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

    /* Header selectors style */

    .header {
        margin: 20px auto;
        margin-top: 0px;
        width: 80%;
    }

    .main_logo {
        width: 120px;
        height: 120px;
    }

    /* End Header selectors style */

    /* Footer selectors style */

    .footer {
        margin: 20px auto;
        margin-bottom: 0px;
        width: 80%;
    }

    .sign {
        font-size: 24px;
    }

    .social_logo {
        width: 75px;
        height: 75px;
    }

    /* End Footer selectors style */

    .section {
        margin: 20px auto;
        width: 80%;
    }

    .input_organizer {
        display: flex;
        justify-content: space-between;
    }

    .input_field {
        width: 60%;
        margin: 20px 20px;
    }

    .update {
        width: 30%;
    }
}